<h1>Hello <%= @name %>!</h1>

<p>
  You have rented a new book! <br>
</p>
<h4>Details:</h4>
<ul>
  <li>Book title: <%= @book %></li>
  <li>From: <%= @from %></li>
  <li>To: <%= @to %></li>
</ul>
<p>
  Thanks for choosing us 
</p>
